<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Find Out Media</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>FindOutMedia</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<true/>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>FindOutMedia</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Find Out Media uses the camera so you can take profile photos or capture images and videos to share in your posts.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Find Out Media uses the microphone so you can record voice messages or add audio to your videos before posting.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Find Out Media needs access to your photo library to save photos or videos that you create or edit within the app.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Find Out Media needs access to your photo library so you can choose photos or videos to use as profile pictures or share in posts.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>StallionAppToken</key>
	<string>spb_Kj74TpPaInIO2tmTsuzyvxZ3jGn5YC5itF4CqJWqFj</string>
	<key>StallionProjectId</key>
	<string>6912ae22470155478e99ca3e</string>
	<key>UIAppFonts</key>
	<array>
		<string>BBHSansBogle-Regular.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-Italic.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>BBHSansHegarty-Regular.ttf</string>
		<string>IBMPlexSansCondensed-Bold.ttf</string>
		<string>IBMPlexSansCondensed-Regular.ttf</string>
		<string>NewsCycle-Bold.ttf</string>
		<string>NewsCycle-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
